body {
  overflow: hidden; /* Hide scrollbars */
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.break-word {
  word-break: break-word !important;
}

.disabled-visible * {
  color: rgba(0, 0, 0, 0.8) !important;
}

.disabled-visible * > .v-label {
  color: rgba(0, 0, 0, 0.6) !important;
}
